.form{
  background-color: #ECF3F8;
  margin-top: 120px;
}

.form__input{
  display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 60px auto 0;
    gap: 15px;
    align-items: center;
    justify-content: center;
  input{
    padding: 18px ;
    min-width: 350px;
  }
  margin-bottom: 110px;
}
.form__h2{
  margin-top: 70px;
}
.form__btn{
  transition: 0.2s;
        max-width: 250px;
        background-color: gold;
        padding: 15px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        min-width: 390px;
        &:hover{
            background-color: rgb(152, 169, 0);
        }
}
